<main class="container mt-4">
    <h2 class="text-center">Cadastro de Livro</h2>
    <form (submit)="incluir()" ngNativeValidate class="mt-4">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input id="titulo" type="text" class="form-control" [(ngModel)]="livro.titulo" name="titulo" required/>
        </div>
        <div class="mb-3">
            <label for="resumo" class="form-label">Resumo</label>
            <textarea id="resumo" class="form-control" [(ngModel)]="livro.resumo" name="resumo" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="editora" class="form-label">Editora</label>
            <select id="editora" class="form-select" [(ngModel)]="livro.codEditora" name="codEditora" required>
            <option *ngFor="let editora of editoras" [value]="editora.codEditora">
                {{ editora.nome }}
            </option>
            </select>
        </div>
        <div class="mb-3">
            <label for="autores" class="form-label">Autores (um por linha)</label>
            <textarea id="autores" class="form-control" [(ngModel)]="autoresForm" name="autores" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</main>
  